﻿@model  SieuThiDienMayDoAn.Controllers.ViewModels.ProductCatalog.BasketDetailView
 @using SieuThiDienMayDoAn.Services.ViewModels
@using SieuThiDienMayDoAn.Model.Products



      <!--Middle Part Start-->
      <div id="content">
          <h1>@Model.Basket.Id.ToString()</h1>
          <div id="cartInfo12"></div>
          <input  id="basketId" value="@Model.Basket.Id.ToString()" hidden />
        <!--Breadcrumb Part Start-->
        <div class="breadcrumb"> <a href="index-2.html">Home</a> » <a href="#">Shopping Cart</a></div>
        <!--Breadcrumb Part End-->
        <h1>Giỏ hàng của bạn có @Model.BasketSummary.NumberOfItems </h1>
        <form enctype="multipart/form-data" method="post" action="#">
          <div class="cart-info" id="cart-info">
            <table>
              <thead>
                <tr>
                  <td class="image">Ảnh</td>
                  <td class="name">Tên sản phẩm</td>
                  
                  <td class="quantity">Số lượng</td>
                  <td class="price">Giá </td>
                  <td class="total">Tổng giá</td>
                </tr>
              </thead>
              <tbody id="cartItems">
                



              </tbody>
            </table>
          </div>
        </form>
        <h2>Tính toán chi phí giỏ hàng khi áp dụng các khuyến mãi đặc biệt</h2>
        <div class="content">
          <p>Xác nhận phiếu giảm giá hay phiếu quà tặng  nếu có.</p>
          <div class="accordion" id="first">
            <div class="accordion-heading">Bạn có phiếu giảm giá?</div>
            <div class="accordion-content" >
              <div class="content" id="coupon">
                <form enctype="multipart/form-data" method="post" action="#">
                  Nhập mã phiếu ở đây:&nbsp;
                  <input type="text" value="" name="coupon">
                  &nbsp;
                  <input type="submit" class="button" value="Xác nhận">
                </form>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-heading">Bạn có phiếu quà tặng?</div>
            <div class="accordion-content">
              <div class="content" id="voucher">
                <form enctype="multipart/form-data" method="post" action="#">
                  Nhập mã phiếu ở đây:&nbsp;
                  <input type="text" value="" name="voucher">
                  &nbsp;
                  <input type="submit" class="button" value="Xác nhận">
                </form>
              </div>
            </div>
          </div>
          
        </div>
        <div class="cart-total">
          <table id="total">
            <tbody>
              <tr>
                <td class="right"><b>Tổng giá trị giỏ hàng:</b></td>
                <td class="right">$@Model.BasketSummary.BasketTotal</td>
              </tr>
              <tr>
                <td class="right"><b>Giá trị giỏ hàng sau giảm giá:</b></td>
                <td class="right">$@Model.BasketSummary.BasketTotal</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="buttons">
          <div class="right"><a class="button" href="checkout.html">Thanh toán</a></div>
          <div class="center"><a class="button" href="#">Tiếp tục mua hàng</a></div>
        </div>
      </div>
      <!--Middle Part End-->

<script type="text/javascript">
    
    $(document).ready(function () {
        var basketId = $("#basketId").val();
        $("html, body").animate({ scrollTop: $('#cart-info').offset().top }, 600);

        $("#first").find('.accordion-content').slideDown('slow');

        $.ajax({
                    
            url: "/api/BasketApi/GetBasket",
            type: "get",
            contentType: "application/json",
            data: { basketId:basketId}
                
                    
        }).done(function (data) {
            
            var html="";
            if (data.length > 0) {
                
                for (i = 0; i < data.length; i++) {
                    html += "<tr>";
                    html += " <td class='image'><a href='product.html'><img src='/Images/product/Jeep-Casual-Shoes-45x45.jpg' alt='Jeep-Casual-Shoes' /></a></td>";
                    html += "<td class='name'><a href='product.html'>" + data[i].ProductName + "</a></td>";

                    html += "<td class='quantity'><input type='text' size='1' value='" + data[i].Qty + "' name='' class='w30' id='" + data[i].ProductId + "'>";
                    html += " &nbsp;";
                    
                    html += "&nbsp;<a href='JavaScript: updateItems(" + data[i].ProductId + ");'><img title='Update' alt='Update' src='/Images/update.png'  ></a>";
                    html += "&nbsp;<a href='JavaScript: removeProductFromBasket(" + data[i].ProductId + ");'><img title='Remove' alt='Remove' src='/Images/remove.png'  ></a></td>";
                    html += "<td class='price'>$" + data[i].ProductPrice + "</td>";
                    html += "<td class='total'>$" + data[i].LineTotal + "</td>";
                    html += "</tr>";
                }

            }

            $("#cartItems").html(html);
                
        });

    });
</script>

<script type="text/javascript">


    function removeProductFromBasket(productId) {
        var basketId = $("#basketId").val();
        $.ajax({
            url: "/api/BasketApi/RemoveItem",
            data: {basketId:basketId, productId: productId },
            type: "GET",
            success: function (data) {

                var respContent = data.NumberOfItems + " items - " + "$" + data.BasketTotal;

                $("#cart-total").html(respContent);

                var html = "";
                var items = data.Items;
                if (items.length > 0) {
                    for (i = 0; i < items.length; i++) {
                        html += "<tr>";
                        html += " <td class='image'><a href='product.html'><img src='/Images/product/Jeep-Casual-Shoes-45x45.jpg' alt='Jeep-Casual-Shoes' /></a></td>";
                        html += "<td class='name'><a href='product.html'>" + items[i].ProductName + "</a></td>";

                        html += "<td class='quantity'><input type='text' size='1' value='" + items[i].Qty + "' name='' class='w30' id='" + items[i].ProductId + "'>";
                        html += " &nbsp;";

                        html += "&nbsp;<a href='JavaScript: updateItems(" + items[i].ProductId + ");'><img title='Update' alt='Update' src='/Images/update.png'  ></a>";
                        html += "&nbsp;<a href='JavaScript: removeProductFromBasket(" + items[i].ProductId + ");'><img title='Remove' alt='Remove' src='/Images/remove.png'  ></a></td>";
                        html += "<td class='price'>$" + items[i].ProductPrice + "</td>";
                        html += "<td class='total'>$" + items[i].LineTotal + "</td>";
                        html += "</tr>";
                    }

                    
                }
                $("#cartItems").html(html);

            }
        });
    }



</script>


<script type="text/javascript">

    function updateItems(productId) {
        var basketId = $("#basketId").val();
        var qtyId = "#" + productId;
        
        var qty = $(qtyId).val();
        
        $.ajax({

            url: "/api/BasketApi/UpdateItems",
            type: "get",
            contentType: "application/json",
            data: { basketId: basketId,productId: productId,qty:qty }


        }).done(function (data) {

            
                var respContent = data.NumberOfItems + " items - " + "$" + data.BasketTotal;
                $("#cart-total").html(respContent);
            

        });

    }
</script>


