﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a href="/url/to/load/modal_window.htm" data-toggle="modal">link</a>
<div id="debug">zdvxdbsfbfsbsf</div>
<input type="button" value="press" id="btn" />
<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">Tables</a>
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-user"></i>Products</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Product Image</th>
                        <th>product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Sold Quantity</th>

                        <th>Import Date</th>
                        <th>Rating</th>
                        <th>Discount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: { data: products, as: 'product' }">


                    <tr>
                        <td data-bind="text: product.ImageUrl"></td>
                        <td class="center" data-bind="text: product.Name"></td>
                        <td class="center" data-bind="text: product.Price"></td>

                        <td class="center" data-bind="text: product.Quantity"></td>
                        <td class="center" data-bind="text: product.SoldQuantity"></td>
                        <td class="center" data-bind="text: product.ImportDate"></td>

                        <td class="center" data-bind="text: product.Rating"></td>
                        <td class="center" data-bind="text: product.Discount"></td>

                        <td class="center">
                            <a class="btn btn-success" href="#">
                                <i class="icon-zoom-in icon-white"></i>
                                View                                            
									</a>
                            <a class="btn btn-info" href="#">
                                <i class="icon-edit icon-white"></i>
                                Edit                                            
									</a>
                            <a class="btn btn-danger" href="#">
                                <i class="icon-trash icon-white"></i>
                                Del
									</a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->

</div>
<!--/row-->

