﻿<div id="content">

    <input type="button" value="press" id="btn123" />

    <div class="cartire-grid">
        <div class="cartire-grid-img">
            <img src="~/Images/product/lotto-sports-shoes-white-210x210.jpg" title="tries" />
        </div>
        <div class="cartire-grid-info">
            <ul>
                <li><span>New</span> |&nbsp;&nbsp;Available !</li>
            </ul>
            <h3>Fondmetal 7500</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="cartire-grid-cartinfo">
            <h4>REDUCED PRICE!</h4>
            <span>$502.00</span>
            <ul>
                <li>
                    <input type="checkbox"></li>
                <li>
                    <p>Select to compare</p>
                </li>
            </ul>
            <a href="singlepage.html">Add to Cart</a><br />
            <a href="singlepage.html">View</a>
        </div>
        <div class="clear"></div>
    </div>



    <ul id="comments">
        <li class="cmmnt">

            <div class="avatar">
                <a href="javascript:void(0);">
                    <img src="images/dark-cubes.png" width="55" height="55" alt="DarkCubes photo avatar"></a>
            </div>
            <div class="cmmnt-content">
                <header><a href="javascript:void(0);" class="userlink">DarkCubes</a> - <span class="pubdate">posted 1 week ago</span></header>
                <p>Ut nec interdum libero. Sed felis lorem, venenatis sed malesuada vitae, tempor vel turpis. Mauris in dui velit, vitae mollis risus. Cras lacinia lorem sit amet augue mattis vel cursus enim laoreet. Vestibulum faucibus scelerisque nisi vel sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque massa ac justo tempor eu pretium massa accumsan. In pharetra mattis mi et ultricies. Nunc vel eleifend augue. Donec venenatis egestas iaculis.</p>
            </div>

        </li>

    </ul>

</div>

<script type="text/javascript">


    
    var req;
    var viewModel = {
        reviews: ko.observableArray(),
        currentPage: ko.observable(-1)

    };

    $(document).ready(function () {

            
        ko.applyBindings(viewModel);
                 
        getData(viewModel.currentPage() + 1);
           
        $(window).scroll(function (evt) {
            evt.preventDefault();
            if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
                
                if(req.state() == 'resolved' && req.state() !== 'pending'){
                    getData(viewModel.currentPage() + 1); 
                }
                    
                    
            }
        });
    });


    function getData(pageNumber) {

        if (viewModel.currentPage() != pageNumber && viewModel.currentPage()==(pageNumber-1)) {
                
            
            req= $.ajax({
                    
                url: "/api/ReviewApi/GetComment",
                type: "get",
                contentType: "application/json",
                data: { id:3,index:pageNumber}
                
                    
            }).done(function (data) {
                if (data.length > 0) {
                    viewModel.currentPage(viewModel.currentPage() + 1);
                    for (i = 0; i < data.length; i++) {
                        viewModel.reviews.push(data[i]);
                       
                    }
                }
                
            });
        }
    }
</script>


