﻿@model SieuThiDienMayDoAn.Controllers.ViewModels.ProductCatalog.HomePageView
@using SieuThiDienMayDoAn.Services.ViewModels

<div id="content">
    <!-- Nivo Slider Start -->
    <section class="slider-wrapper">
        <div id="slideshow" class="nivoSlider">
            <a class="nivo-imageLink" href="#">
                <img src="~/Images/slider/slide-1.jpg" alt="slide-1" /></a> <a class="nivo-imageLink" href="#">
                    <img src="~/Images/slider/slide-2.jpg" alt="slide-2" /></a> <a class="nivo-imageLink" href="#">
                        <img src="~/Images/slider/slide-3.jpg" alt="slide-3" /></a>
        </div>
    </section>
    <script type="text/javascript"><!--
    $(document).ready(function() {
        $('#slideshow').nivoSlider();
    });
    --></script>
    <!-- Nivo Slider End-->

    <!-- Featured Product Start-->
    <section class="box">
        <div class="box-heading">Featured</div>
        <div class="box-content">
            <div class="box-product">
                <div class="flexslider featured_carousel">
                    <ul class="slides" id="featuredProductsArea">
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        (function() {
            // store the slider in a local variable
            var $window = $(window),
                flexslider;
 
            // tiny helper function to add breakpoints
            function getGridSize() {
                return (window.innerWidth < 320) ? 1 :
                       (window.innerWidth < 600) ? 2 :
                       (window.innerWidth < 800) ? 3 :
                       (window.innerWidth < 900) ? 4 : 5;
            }
            $window.load(function() {
                $('#content .featured_carousel').flexslider({
                    animation: "slide",
                    animationLoop: false,
                    slideshow: false,
                    itemWidth: 210,
                    minItems: getGridSize(), // use function to pull in initial value
                    maxItems: getGridSize() // use function to pull in initial value
                });
            });
        }());
    </script>
    <!-- Featured Product End-->
    <!-- Product Tab Start-->
    <section id="product-tab" class="product-tab">
        <ul id="tabs" class="tabs">
            <li><a href="#tab-latest">Latest</a></li>
            <li><a href="#tab-bestseller">Bestseller</a></li>
            <li><a href="#tab-special">Special</a></li>
        </ul>
        <div id="tab-latest" class="tab_content">
            <div class="box-product">
                <div class="flexslider latest_carousel_tab">
                    <ul class="slides"  id="latestProductsArea">
                       

                    </ul>
                </div>
            </div>
        </div>
        <div id="tab-bestseller" class="tab_content">
            <div class="box-product">
                <div class="flexslider bestseller_carousel_tab">
                    <ul class="slides" id="bestSellerProductsArea">
                       

                    </ul>
                </div>
            </div>
        </div>
        <div id="tab-special" class="tab_content">
            <div class="box-product">
                <div class="flexslider special_carousel_tab">
                    <ul class="slides" id="specialProductsArea">
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        (function() {
            // store the slider in a local variable
            var $window = $(window),
                flexslider;
            // tiny helper function to add breakpoints
            function getGridSize() {
                return (window.innerWidth < 320) ? 1 :
                       (window.innerWidth < 600) ? 2 :
                       (window.innerWidth < 800) ? 3 :
                       (window.innerWidth < 900) ? 4 : 5;
            }
            $window.load(function() {
                $('#product-tab .featured_carousel_tab, #product-tab .latest_carousel_tab, #product-tab .bestseller_carousel_tab, #product-tab .special_carousel_tab').flexslider({
                    animation: "slide",
                    animationLoop: false,
                    slideshow: false,
                    itemWidth: 210,
                    minItems: getGridSize(), // use function to pull in initial value
                    maxItems: getGridSize(), // use function to pull in initial value
                    start: function(){
                        $("#product-tab .tab_content").addClass("deactive");
                        $("#product-tab .tab_content:first").removeClass("deactive"); //Show first tab content
                    } });
            });

            $(document).ready(function() {
                //Default Action
                $("ul#tabs li:first").addClass("active").show(); //Activate first tab
                //On Click Event
                $("ul#tabs li").click(function() {
                    $("ul#tabs li").removeClass("active"); //Remove any "active" class
                    $(this).addClass("active"); //Add "active" class to selected tab
                    $("#product-tab .tab_content").hide(); 
                    var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
                    $(activeTab).fadeIn(); //Fade in the active content
                    return false;
                });
            });}());
    </script>
    <!-- Product Tab End-->
    <!-- Carousel Start-->
    <section id="carousel">
        <ul class="jcarousel-skin-opencart">
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
        </ul>
    </section>
    <!-- Carousel End-->
</div>


<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/productApi/GetFeaturedProducts",
            type: "get",
            contentType: "application/json"
        }).done(function (data) {
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<li>";
                    html+="<div class='slide-inner'>";
                    html+="<div class='image'>";

                    html+="<a href='product.html'>";
                    html+="<img src='/Images/product/samsung_syncmaster_941bw-210x210.jpg' alt='Samsung SyncMaster 941BW' /></a>";
                    html+="</div>";
                    html+="<div class='name'><a href='@Url.Action("Detail","Product")/"+data[i].Id+"'>"+data[i].Name+"</a></div>";
                    html+="<div class='price'>$"+data[i].Price +"</div>";
                    html+="<div class='cart'>";
                    html+="<input type='button' value='Add to Cart' class='button' />";
                    html+="</div>";
                    html+="<div class='clear'></div>";
                    html+="</div>";
                    html+="</li>";
                }


                $("#featuredProductsArea").html(html);
                       

            }
        });
                

    });
</script>


<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/productApi/GetLatestProducts",
            type: "get",
            contentType: "application/json"
        }).done(function (data) {
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<li>";
                    html+="<div class='slide-inner'>";
                    html+="<div class='image'>";

                    html+="<a href='product.html'>";
                    html+="<img src='/Images/product/samsung_syncmaster_941bw-210x210.jpg' alt='Samsung SyncMaster 941BW' /></a>";
                    html+="</div>";
                    html+="<div class='name'><a href='@Url.Action("Detail","Product")/"+data[i].Id+"'>"+data[i].Name+"</a></div>";
                    html+="<div class='price'>$"+data[i].Price +"</div>";
                    html+="<div class='cart'>";
                    html+="<input type='button' value='Add to Cart' class='button' />";
                    html+="</div>";
                    html+="<div class='clear'></div>";
                    html+="</div>";
                    html+="</li>";
                }


                $("#latestProductsArea").html(html);
                       

            }
        });
                

    });
</script>



<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/productApi/GetBestSellerProducts",
            type: "get",
            contentType: "application/json"
        }).done(function (data) {
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<li>";
                    html+="<div class='slide-inner'>";
                    html+="<div class='image'>";

                    html+="<a href='product.html'>";
                    html+="<img src='/Images/product/samsung_syncmaster_941bw-210x210.jpg' alt='Samsung SyncMaster 941BW' /></a>";
                    html+="</div>";
                    html+="<div class='name'><a href='@Url.Action("Detail","Product")/"+data[i].Id+"'>"+data[i].Name+"</a></div>";
                    html+="<div class='price'>$"+data[i].Price +"</div>";
                    html+="<div class='cart'>";
                    html+="<input type='button' value='Add to Cart' class='button' />";
                    html+="</div>";
                    html+="<div class='clear'></div>";
                    html+="</div>";
                    html+="</li>";
                }


                $("#bestSellerProductsArea").html(html);
                       

            }
        });
                

    });
</script>


<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/productApi/GetSpecialProducts",
            type: "get",
            contentType: "application/json"
        }).done(function (data) {
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<li>";
                    html+="<div class='slide-inner'>";
                    html+="<div class='image'>";

                    html+="<a href='product.html'>";
                    html+="<img src='/Images/product/samsung_syncmaster_941bw-210x210.jpg' alt='Samsung SyncMaster 941BW' /></a>";
                    html+="</div>";
                    html+="<div class='name'><a href='@Url.Action("Detail","Product")/"+data[i].Id+"'>"+data[i].Name+"</a></div>";
                    html+="<div class='price'>$"+data[i].Price +"</div>";
                    html+="<div class='cart'>";
                    html+="<input type='button' value='Add to Cart' class='button' />";
                    html+="</div>";
                    html+="<div class='clear'></div>";
                    html+="</div>";
                    html+="</li>";
                }


                $("#specialProductsArea").html(html);
                       

            }
        });
                

    });
</script>

