﻿@model SieuThiDienMayDoAn.Controllers.ViewModels.ProductCatalog.ProductsByCategoryView


@{
    var url = Url.Action("Detail", "Product") + "/";
}

<div id="column-left">
    <!--Category Start -->
    <div class="box">
        <div class="box-heading">Categories</div>
        <div class="box-content box-category">
            <ul id="cat_accordion">
                <li class="custom_id20"><a class="active" href="category.html">Electronics</a> <span class="down"></span>
                    <ul>
                        <li class="custom_id26"><a class="" href="category.html">Laptops</a></li>
                        <li class="custom_id27"><a class="" href="category.html">Desktops</a></li>
                        <li class="custom_id60"><a class="" href="category.html">Components</a></li>
                        <li class="custom_id61"><a class="" href="category.html">Software</a></li>
                        <li class="custom_id62"><a class="" href="category.html">Phones &amp; PDAs</a></li>
                        <li class="custom_id63"><a class="" href="category.html">Cameras</a></li>
                    </ul>
                </li>
                <li class="custom_id18"><a class="" href="category.html">Jewellery</a> <span class="down"></span>
                    <ul>
                        <li class="custom_id65"><a class="" href="category.html">Children's Jewellery</a></li>
                        <li class="custom_id46"><a class="" href="category.html">Men's Jewellery</a></li>
                        <li class="custom_id45"><a class="" href="category.html">Women's Jewellery</a></li>
                        <li class="custom_id51"><a class="" href="category.html">Sample Test</a></li>
                        <li class="custom_id74"><a class="" href="category.html">Sample Test11</a></li>
                        <li class="custom_id75"><a class="" href="category.html">Sample Test12</a></li>
                    </ul>
                </li>
                <li class="custom_id17"><a class="" href="category.html">Shoes</a> <span class="down"></span>
                    <ul>
                        <li class="custom_id66"><a class="" href="category.html">Children's Shoes</a></li>
                        <li class="custom_id67"><a class="" href="category.html">Men's Shoes</a></li>
                        <li class="custom_id68"><a class="" href="category.html">Women's Shoes</a></li>
                        <li class="custom_id76"><a class="" href="category.html">Test Sample</a></li>
                        <li class="custom_id77"><a class="" href="category.html">Test Sample1</a></li>
                    </ul>
                </li>
                <li class="custom_id25"><a class="" href="category.html">Clothing</a> <span class="down"></span>
                    <ul>
                        <li class="custom_id29"><a class="" href="category.html">Men</a></li>
                        <li class="custom_id28"><a class="" href="category.html">Women</a> <span class="down"></span>
                            <ul>
                                <li class="custom_id35"><a class="" href="category.html">test 1</a></li>
                                <li class="custom_id36"><a class="" href="category.html">test 2</a></li>
                            </ul>
                        </li>
                        <li class="custom_id30"><a class="" href="category.html">Boys</a></li>
                        <li class="custom_id31"><a class="" href="category.html">Girls</a></li>
                        <li class="custom_id32"><a class="" href="category.html">Accessories</a></li>
                        <li class="custom_id78"><a class="" href="category.html">Sample Test21</a></li>
                    </ul>
                </li>
                <li class="custom_id24"><a class="" href="category.html">Kids</a> <span class="down"></span>
                    <ul>
                        <li class="custom_id73"><a class="" href="category.html">Toys Kids</a></li>
                        <li class="custom_id72"><a class="" href="category.html">Games</a></li>
                        <li class="custom_id38"><a class="" href="category.html">Sample Test22</a></li>
                        <li class="custom_id37"><a class="" href="category.html">Sample Test15</a></li>
                        <li class="custom_id79"><a class="" href="category.html">Sample Kids</a></li>
                        <li class="custom_id39"><a class="" href="category.html">Sample Test6</a></li>
                    </ul>
                </li>
                <li class="custom_id33"><a class="" href="category.html">Watches</a> <span class="down"></span>
                    <ul>
                        <li class="custom_id44"><a class="" href="category.html">Women's Watches</a></li>
                        <li class="custom_id43"><a class="" href="category.html">Men's Watches</a></li>
                        <li class="custom_id47"><a class="" href="category.html">Children's Watches</a></li>
                        <li class="custom_id48"><a class="" href="category.html">Sample16</a></li>
                        <li class="custom_id49"><a class="" href="category.html">Sample17</a></li>
                        <li class="custom_id50"><a class="" href="category.html">test 18</a></li>
                    </ul>
                </li>
                <li class="custom_id34"><a class="" href="category.html">Sports</a> <span class="down"></span>
                    <ul>
                        <li class="custom_id71"><a class="" href="category.html">Women's Sports</a></li>
                        <li class="custom_id69"><a class="" href="category.html">Children's Sports</a></li>
                        <li class="custom_id70"><a class="" href="category.html">Men's Sports</a></li>
                        <li class="custom_id40"><a class="" href="category.html">test 7</a></li>
                        <li class="custom_id41"><a class="" href="category.html">Sample 8</a></li>
                        <li class="custom_id42"><a class="" href="category.html">test 9</a></li>
                    </ul>
                </li>
                <li class="custom_id59"><a class="" href="category.html">Health</a> <span class="down"></span>
                    <ul>
                        <li class="custom_id55"><a class="" href="category.html">Sample Test1</a></li>
                        <li class="custom_id56"><a class="" href="category.html">Sample Test2</a></li>
                        <li class="custom_id52"><a class="" href="category.html">test 20</a> <span class="down"></span>
                            <ul>
                                <li class="custom_id58"><a class="" href="category.html">test 25</a></li>
                            </ul>
                        </li>
                        <li class="custom_id53"><a class="" href="category.html">test 21</a></li>
                        <li class="custom_id54"><a class="" href="category.html">test 22</a></li>
                    </ul>
                </li>
                <li class="custom_id80"><a class="" href="category.html">Furniture</a> <span class="down"></span>
                    <ul>
                        <li class="custom_id89"><a class="" href="category.html">Bedrooms Furniture</a></li>
                        <li class="custom_id90"><a class="" href="http://localhost/polishop/index.php?route=product/category&amp;path">Kidsrooms furniture</a></li>
                        <li class="custom_id88"><a class="" href="category.html">Kitchen Furniture</a></li>
                        <li class="custom_id92"><a class="" href="category.html">Showcase Furniture</a></li>
                        <li class="custom_id93"><a class="" href="category.html">Table Furniture</a></li>
                        <li class="custom_id91"><a class="" href="category.html">Wall Furniture</a></li>
                    </ul>
                </li>
                <li class="custom_id81"><a class="" href="category.html">Books</a> <span class="down"></span>
                    <ul>
                        <li class="custom_id82"><a class="" href="category.html">Audio Books</a></li>
                        <li class="custom_id83"><a class="" href="category.html">Comedy Book</a></li>
                        <li class="custom_id84"><a class="" href="category.html">Comics Books</a></li>
                        <li class="custom_id85"><a class="" href="category.html">Computer Book</a></li>
                        <li class="custom_id86"><a class="" href="category.html">Cookies Books</a></li>
                        <li class="custom_id87"><a class="" href="category.html">English Books</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.dcjqaccordion.js"></script>
    <!--Category End -->
    <!--Refine Search Start-->
    <div class="box">
        <div class="box-heading">Refine Search</div>
        <div class="box-content">
            <ul class="box-filter">
                <li><span id="filter-group">Price</span>
                    <ul>
                        <li>
                            <input type="checkbox" value="3" id="filter3" />
                            <label for="filter3">$0 - $100 (1)</label>
                        </li>
                        <li>
                            <input type="checkbox" value="4" id="filter4" />
                            <label for="filter4">$100 - $500 (5)</label>
                        </li>
                        <li>
                            <input type="checkbox" value="5" id="filter5" />
                            <label for="filter5">$500 - $1000 (1)</label>
                        </li>
                        <li>
                            <input type="checkbox" value="6" id="filter6" />
                            <label for="filter6">$1000 - $1500 (0)</label>
                        </li>
                    </ul>
                </li>
            </ul>
            <a id="button-filter" class="button">Refine Search</a>
        </div>
    </div>
    <!--Refine Search End-->
    <!--Latest Product Start-->
    <div class="box">
        <div class="box-heading">Latest</div>
        <div class="box-content">
            <div class="box-product">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="slide-inner">
                                <div class="image">
                                    <a href="product.html">
                                        <img src="image/product/sony_vaio_1-45x45.jpg" alt="Friendly Jewelry" /></a>
                                </div>
                                <div class="name"><a href="product.html">Friendly Jewelry</a></div>
                                <div class="price">$1,177.00</div>
                                <div class="clear"></div>
                            </div>
                        </li>
                        <li>
                            <div class="slide-inner">
                                <div class="image">
                                    <a href="product.html">
                                        <img src="image/product/apple_cinema_30-45x45.jpg" alt="Apple Cinema 30&quot;" /></a>
                                </div>
                                <div class="name"><a href="product.html">Apple Cinema 30&quot;</a></div>
                                <div class="price"><span class="price-old">$119.50</span> <span class="price-new">$107.75</span></div>
                                <div class="clear"></div>
                            </div>
                        </li>
                        <li>
                            <div class="slide-inner">
                                <div class="image">
                                    <a href="product.html">
                                        <img src="image/product/ipod_classic_1-45x45.jpg" alt="iPad Classic" /></a>
                                </div>
                                <div class="name"><a href="product.html">iPad Classic</a></div>
                                <div class="price">$119.50</div>
                                <div class="clear"></div>
                            </div>
                        </li>
                        <li>
                            <div class="slide-inner">
                                <div class="image">
                                    <a href="product.html">
                                        <img src="image/product/lotto-sports-shoes-white-45x45.jpg" alt="Lotto Sports Shoes" /></a>
                                </div>
                                <div class="name"><a href="product.html">Lotto Sports Shoes</a></div>
                                <div class="price">$589.50</div>
                                <div class="clear"></div>
                            </div>
                        </li>
                        <li>
                            <div class="slide-inner">
                                <div class="image">
                                    <a href="product.html">
                                        <img src="image/product/Jeep-Casual-Shoes-45x45.jpg" alt="Jeep-Casual-Shoes" /></a>
                                </div>
                                <div class="name"><a href="product.html">Jeep-Casual-Shoes</a></div>
                                <div class="price">$131.25</div>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Latest Product End-->
    <!--Banner Start-->
    <div class="banner">
        <div>
            <a href="#">
                <img src="image/product/small-banner1-220x350.jpg" alt="banner" title="banner" /></a>
        </div>
    </div>
    <!--Banner End-->
</div>
<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"><a href="index-2.html">Home</a> &raquo; <a href="#">Electronics</a> </div>
    <!--Breadcrumb Part End-->
    <h1>Electronics</h1>
    <div class="product-filter">
        <div class="display"><b>Display:</b> <a href="category.html" class="grid-icon">Grid</a><span class="list1-icon">List</span> </div>
        <div class="limit">
            <b>Show:</b>
            <select>
                <option value="15" selected="selected">15</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="sort">
            <b>Sort By:</b>
            <select>
                <option value="" selected="selected">Default</option>
                <option value="">Name (A - Z)</option>
                <option value="">Name (Z - A)</option>
                <option value="">Price (Low &gt; High)</option>
                <option value="">Price (High &gt; Low)</option>
                <option value="">Rating (Highest)</option>
                <option value="">Rating (Lowest)</option>
                <option value="">Model (A - Z)</option>
                <option value="">Model (Z - A)</option>
            </select>
        </div>


    </div>
    <div class="product-compare"><a href="#" id="compare-total">Product Compare (0)</a></div>
    <!--Product List Start-->
    <div class="product-list" data-bind="foreach: products">

        <div>
            <div class="left">
                <div class="image">
                    <a href="product.html">
                        <img src="image/product/ipod_classic_1-162x162.jpg" title="iPad Classic" alt="iPad Classic" /></a>
                </div>
                <div class="name">

                    
                    <a data-bind="attr: { href: '@url' +Id}">
                        <span data-bind="text: Name">

                        </span>
                    </a>

                </div>
                <div class="description" data-bind="text: Description"></div>
                <div class="price">
                    <span class="price-old" data-bind="text: Price"></span><span class="price-new" data-bind="    text: Price"></span>
                    <br>
                    <span class="price-tax">Ex Tax: $90.00</span>
                </div>
                <div class="rating">
                    <img src="image/stars-4.png" alt="Based on 1 reviews." />
                </div>
                <div class="cart">
                    <input type="button" class="button" onclick="addToCart('42');" value="Add to Cart">
                    <div class="wishlist"><a onclick="addToWishList('42');">Add to Wish List</a></div>
                    <div class="compare"><a onclick="addToCompare('42');">Add to Compare</a></div>
                </div>
            </div>
        </div>
    </div>
    <!--Product List End-->
    <!--Pagination Part Start-->
    <div class="pagination">
        <div class="links"><b>1</b> <a href="#">2</a> <a href="#">&gt;</a> <a href="#">&gt;|</a></div>
        <div class="results">Showing 1 to 15 of 16 (2 Pages)</div>
    </div>
    <!--Pagination Part End-->
</div>
<!--Middle Part End-->




<script type="text/javascript">



    var req;
    var viewModel = {
        products: ko.observableArray(),
        currentPage: ko.observable(-1)

    };

    $(document).ready(function () {


        ko.applyBindings(viewModel);

        getData(viewModel.currentPage() + 1);

        $(window).scroll(function (evt) {
            evt.preventDefault();
            if ($(window).scrollTop() >= $(document).height() - $('#footer').height()) {

                if (req.state() == 'resolved' && req.state() !== 'pending') {
                    getData(viewModel.currentPage() + 1);
                }


            }
        });
    });


    function getData(pageNumber) {

        if (viewModel.currentPage() != pageNumber && viewModel.currentPage() == (pageNumber - 1)) {


            req = $.ajax({

                url: "/api/ProductApi/GetProductsByCategory",
                type: "get",
                contentType: "application/json",
                data: { categoryId: 4, index: pageNumber }


            }).done(function (data) {
                if (data.length > 0) {
                    viewModel.currentPage(viewModel.currentPage() + 1);
                    for (i = 0; i < data.length; i++) {
                        viewModel.products.push(data[i]);

                    }
                }

            });
        }
    }
</script>

