﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!--
		Charisma v1.0.0

		Copyright 2012 Muhammad Usman
		Licensed under the Apache License v2.0
		http://www.apache.org/licenses/LICENSE-2.0

		http://usman.it
		http://twitter.com/halalit_usman
	-->
    <meta charset="utf-8">
    <title>Free HTML5 Bootstrap Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link href="~/Content/Admin/css/bootstrap-cerulean.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="~/Content/Admin/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet">
    <link href="~/Content/Admin/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
    <link href='~/Content/Admin/css/fullcalendar.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='~/Content/Admin/css/chosen.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/uniform.default.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/colorbox.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/jquery.cleditor.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/jquery.noty.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/noty_theme_default.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/elfinder.min.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/elfinder.theme.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/opa-icons.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/uploadify.css' rel='stylesheet'>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="~/Images/Admin/favicon.ico">
</head>

<body>

    <!-- topbar starts -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html">
                    <img alt="Charisma Logo" src="~/Images/Admin/logo20.png" />
                    <span>Charisma</span></a>

                <!-- theme selector starts -->
                <div class="btn-group pull-right theme-container">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-tint"></i><span class="hidden-phone">Change Theme / Skin</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="themes">
                        <li><a data-value="classic" href="#"><i class="icon-blank"></i>Classic</a></li>
                        <li><a data-value="cerulean" href="#"><i class="icon-blank"></i>Cerulean</a></li>
                        <li><a data-value="cyborg" href="#"><i class="icon-blank"></i>Cyborg</a></li>
                        <li><a data-value="redy" href="#"><i class="icon-blank"></i>Redy</a></li>
                        <li><a data-value="journal" href="#"><i class="icon-blank"></i>Journal</a></li>
                        <li><a data-value="simplex" href="#"><i class="icon-blank"></i>Simplex</a></li>
                        <li><a data-value="slate" href="#"><i class="icon-blank"></i>Slate</a></li>
                        <li><a data-value="spacelab" href="#"><i class="icon-blank"></i>Spacelab</a></li>
                        <li><a data-value="united" href="#"><i class="icon-blank"></i>United</a></li>
                    </ul>
                </div>
                <!-- theme selector ends -->

                <!-- user dropdown starts -->
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i><span class="hidden-phone">admin</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <!-- user dropdown ends -->

                <div class="top-nav nav-collapse">
                    <ul class="nav">
                        <li><a href="#">Visit Site</a></li>
                        <li>
                            <form class="navbar-search pull-left">
                                <input placeholder="Search" class="search-query span2" name="query" type="text">
                            </form>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- topbar ends -->
    <div class="container-fluid">
        <div class="row-fluid">

            <!-- left menu starts -->
            <div class="span2 main-menu-span">
                <div class="well nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li class="nav-header hidden-tablet">Main</li>
                        <li><a class="ajax-link" href="index.html"><i class="icon-home"></i><span class="hidden-tablet">Dashboard</span></a></li>
                        <li><a class="ajax-link" href="ui.html"><i class="icon-eye-open"></i><span class="hidden-tablet">UI Features</span></a></li>
                        <li><a class="ajax-link" href="form.html"><i class="icon-edit"></i><span class="hidden-tablet">Forms</span></a></li>
                        <li><a class="ajax-link" href="chart.html"><i class="icon-list-alt"></i><span class="hidden-tablet">Charts</span></a></li>
                        <li><a class="ajax-link" href="typography.html"><i class="icon-font"></i><span class="hidden-tablet">Typography</span></a></li>
                        <li><a class="ajax-link" href="gallery.html"><i class="icon-picture"></i><span class="hidden-tablet">Gallery</span></a></li>
                        <li class="nav-header hidden-tablet">Sample Section</li>
                        <li><a class="ajax-link" href="table.html"><i class="icon-align-justify"></i><span class="hidden-tablet">Tables</span></a></li>
                        <li><a class="ajax-link" href="calendar.html"><i class="icon-calendar"></i><span class="hidden-tablet">Calendar</span></a></li>
                        <li><a class="ajax-link" href="grid.html"><i class="icon-th"></i><span class="hidden-tablet">Grid</span></a></li>
                        <li><a class="ajax-link" href="file-manager.html"><i class="icon-folder-open"></i><span class="hidden-tablet">File Manager</span></a></li>
                        <li><a href="tour.html"><i class="icon-globe"></i><span class="hidden-tablet">Tour</span></a></li>
                        <li><a class="ajax-link" href="icon.html"><i class="icon-star"></i><span class="hidden-tablet">Icons</span></a></li>
                        <li><a href="error.html"><i class="icon-ban-circle"></i><span class="hidden-tablet">Error Page</span></a></li>
                        <li><a href="login.html"><i class="icon-lock"></i><span class="hidden-tablet">Login Page</span></a></li>
                    </ul>
                    <label id="for-is-ajax" class="hidden-tablet" for="is-ajax">
                        <input id="is-ajax" type="checkbox">
                        Ajax on menu</label>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <!-- left menu ends -->

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="span10">
                <!-- content starts -->


                @RenderBody()

                <!-- content ends -->
            </div>
            <!--/#content.span10-->
        </div>
        <!--/fluid-row-->

        <hr>

        <div class="modal hide fade" id="myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>

        <footer>
            <p class="pull-left">&copy; <a href="http://usman.it" target="_blank">Muhammad Usman</a> 2012</p>
            <p class="pull-right">Powered by: <a href="http://usman.it/free-responsive-admin-template">Charisma</a></p>
        </footer>

    </div>
    <!--/.fluid-container-->

    <!-- external javascript
	================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jQuery -->
    <script src="~/Scripts/Admin/js/jquery-1.7.2.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Scripts/Admin/js/jquery-ui-1.8.21.custom.min.js"></script>
    <!-- transition / effect library -->
    <script src="~/Scripts/Admin/js/bootstrap-transition.js"></script>
    <!-- alert enhancer library -->
    <script src="~/Scripts/Admin/js/bootstrap-alert.js"></script>
    <!-- modal / dialog library -->
    <script src="~/Scripts/Admin/js/bootstrap-modal.js"></script>
    <!-- custom dropdown library -->
    <script src="~/Scripts/Admin/js/bootstrap-dropdown.js"></script>
    <!-- scrolspy library -->
    <script src="~/Scripts/Admin/js/bootstrap-scrollspy.js"></script>
    <!-- library for creating tabs -->
    <script src="~/Scripts/Admin/js/bootstrap-tab.js"></script>
    <!-- library for advanced tooltip -->
    <script src="~/Scripts/Admin/js/bootstrap-tooltip.js"></script>
    <!-- popover effect library -->
    <script src="~/Scripts/Admin/js/bootstrap-popover.js"></script>
    <!-- button enhancer library -->
    <script src="~/Scripts/Admin/js/bootstrap-button.js"></script>
    <!-- accordion library (optional, not used in demo) -->
    <script src="~/Scripts/Admin/js/bootstrap-collapse.js"></script>
    <!-- carousel slideshow library (optional, not used in demo) -->
    <script src="~/Scripts/Admin/js/bootstrap-carousel.js"></script>
    <!-- autocomplete library -->
    <script src="~/Scripts/Admin/js/bootstrap-typeahead.js"></script>
    <!-- tour library -->
    <script src="~/Scripts/Admin/js/bootstrap-tour.js"></script>
    <!-- library for cookie management -->
    <script src="~/Scripts/Admin/js/jquery.cookie.js"></script>
    <!-- calander plugin -->
    <script src='~/Scripts/Admin/js/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='~/Scripts/Admin/js/jquery.dataTables.min.js'></script>

    <!-- chart libraries start -->
    <script src="~/Scripts/Admin/js/excanvas.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.min.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.pie.min.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.stack.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.resize.min.js"></script>
    <!-- chart libraries end -->

    <!-- select or dropdown enhancer -->
    <script src="~/Scripts/Admin/js/jquery.chosen.min.js"></script>
    <!-- checkbox, radio, and file input styler -->
    <script src="~/Scripts/Admin/js/jquery.uniform.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="~/Scripts/Admin/js/jquery.colorbox.min.js"></script>
    <!-- rich text editor library -->
    <script src="~/Scripts/Admin/js/jquery.cleditor.min.js"></script>
    <!-- notification plugin -->
    <script src="~/Scripts/Admin/js/jquery.noty.js"></script>
    <!-- file manager library -->
    <script src="~/Scripts/Admin/js/jquery.elfinder.min.js"></script>
    <!-- star rating plugin -->
    <script src="~/Scripts/Admin/js/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="~/Scripts/Admin/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="~/Scripts/Admin/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="~/Scripts/Admin/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="~/Scripts/Admin/js/jquery.history.js"></script>
    <!-- application script for Charisma demo -->
    <script src="~/Scripts/Admin/js/charisma.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>


    <script type="text/javascript">
        $("#btn").click(function () {
            $("#debug").html("<p>123456scacbaskcjba</p>")
        });
    </script>

    <script type="text/javascript">

        var viewModel = {
            products: ko.observableArray()

        };

        $(document).ready(function () {

           
            ko.applyBindings(viewModel);

            $.ajax({

                url: "/api/ProductApi/GetAllProducts",
                type: "get",
                contentType: "application/json",
                data: {}

            }).done(function (data) {
                if (data.length > 0) {

                    for (i = 0; i < data.length; i++) {
                        viewModel.products.push(data[i]);

                    }
                }

            });




        });


    </script>



    <!--Add product-->

    <script type="text/javascript">

        $(document).ready(function () {
            $("#button1").click(OnUpload);
        });

        function OnUpload(evt) {
            var largeImages = $("#largeImage").get(0).files;
            var smallImages = $("#smallImage").get(0).files;
            var tinyImages = $("#tinyImage").get(0).files;
            if (largeImages.length > 0 && smallImages.length > 0 && tinyImages.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();


                    for (i = 0; i < largeImages.length; i++) {
                        data.append("largeImage" + i, largeImages[i]);
                    }

                    for (i = 0; i < smallImages.length; i++) {
                        data.append("smallImage" + i, smallImages[i]);
                    }

                    for (i = 0; i < tinyImages.length; i++) {
                        data.append("tinyImage" + i, tinyImages[i]);
                    }

                    data.append("brand", $("#brand").val());
                    data.append("category", $("#category").val());
                    data.append("supplier", $("#supplier").val());


                    data.append("name", $("#productName").val());
                    data.append("price", $("#productPrice").val());
                    data.append("quantity", $("#quantity").val());

                    data.append("discount", $("#discount").val());
                    data.append("importDate", $("#importDate").val());
                    data.append("description", $("#description").val());

                    data.append("largeImage", $("#largeImage").val());
                    data.append("smallImage", $("#smallImage").val());
                    data.append("tinyImage", $("#tinyImage").val());
                    $.ajax({
                        type: "POST",
                        url: "/api/ProductApi/AddProduct",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (results) {

                            if (results[0] === "error") {

                                var errors = " ";
                                for (index = 1; index < results.length; index++) {

                                    errors += "<p>" + results[index] + "</p>";
                                }

                                $("#formResult").html(errors);

                                $('#windowTitleDialog').modal("show");
                            }

                            
                            var html = "<img src='/uploads/" + results[0] + "'/>";
                            var productInfo = " ";
                            for (index = 1; index < results.length; index++) {

                                productInfo += "<p>"+results[index]+"</p>";
                            }
                            
                            $("#divDialogElements").html(html);
                            $("#productInfo").html(productInfo);
                            $('#windowTitleDialog').modal("show");

                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 multiple file uploads!");
                }
            }
        }

        function closeDialog() {
            $('#windowTitleDialog').modal('hide');
        };
    </script>


</body>
</html>
