﻿@model SieuThiDienMayDoAn.Controllers.ViewModels.ProductCatalog.BaseProductCatalogPageView
@using SieuThiDienMayDoAn.Services.ViewModels

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Polishop eCommerce HTML Template</title>
    <link href="/Images/favicon.png" rel="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="clean modern and elegant corporate look eCommerce html template">
    <meta name="author" content="">
    <!-- CSS Part Start-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/slideshow.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/flexslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/js/colorbox/colorbox.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/carousel.css" media="screen" />

    <!-- CSS Part End-->
    <!-- JS Part Start-->
    <script type="text/javascript" src="~/Scripts/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/colorbox/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/tabs.js"></script>
    <script type="text/javascript" src="~/Scripts/js/cloud_zoom.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.js"></script>
    <script type="text/javascript" src="~/Scripts/js/custom.js"></script>
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.2.0.js"></script>
    <!-- JS Part End-->
    <!-- Google Fonts (Droid Sans) Start -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans&amp;v1' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=&amp;v1' rel='stylesheet' type='text/css'>


    <!-- Google Fonts (Droid Sans) End -->

    <style type="text/css">
        /*Comment*/


        /* comments area */
        #comments {
            display: block;
        }

            #comments .cmmnt, ul .cmmnt, ul ul .cmmnt {
                display: block;
                position: relative;
                padding-left: 65px;
                border-top: 1px solid #ddd;
            }

                #comments .cmmnt .avatar {
                    position: absolute;
                    top: 8px;
                    left: 0;
                }

                    #comments .cmmnt .avatar img {
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
                        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
                        box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
                        -webkit-transition: all 0.4s linear;
                        -moz-transition: all 0.4s linear;
                        -ms-transition: all 0.4s linear;
                        -o-transition: all 0.4s linear;
                        transition: all 0.4s linear;
                    }

                    #comments .cmmnt .avatar a:hover img {
                        opacity: 0.77;
                    }

                #comments .cmmnt .cmmnt-content {
                    padding: 0px 3px;
                    padding-bottom: 12px;
                    padding-top: 8px;
                }

                    #comments .cmmnt .cmmnt-content header {
                        font-size: 1.3em;
                        display: block;
                        margin-bottom: 8px;
                    }

                        #comments .cmmnt .cmmnt-content header .pubdate {
                            color: #777;
                        }

                        #comments .cmmnt .cmmnt-content header .userlink {
                            font-weight: bold;
                        }

                #comments .cmmnt .replies {
                    margin-bottom: 7px;
                }



        /*product  cart info*/

        /*----Cartires----*/
        .car-tires-top-pagnation {
            background: #F8F8F8;
            padding: 5px 12px;
            margin-bottom: 15px;
        }

            .car-tires-top-pagnation ul li {
                display: inline-block;
            }

                .car-tires-top-pagnation ul li a, .car-tires-top-pagnation ul li span {
                    display: block;
                    padding: 3px 0px;
                    font: bold 12px/0px Arial, Helvetica, sans-serif;
                    color: #000;
                    border-right: 1px solid rgba(151, 151, 151, 0.11);
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .car-tires-top-pagnation ul li span {
                    color: #ddd;
                    font-weight: normal;
                }

        .cartire-grid {
            border: 1px solid #EEE;
            padding: 10px 16px 0px 16px;
            box-shadow: 0px 0px 0px rgba(238, 238, 238, 0.08);
            margin-top: 21px;
        }

        .Cartires {
            padding: 0 15px;
            padding-bottom: 3em;
        }

            .Cartires h5 {
                display: block;
                padding: 23px;
                font: bold 18px/16px "Arial";
                color: #FFF;
                font-family: 'Open Sans', sans-serif;
                font-weight: normal;
                text-transform: uppercase;
                background: url(../images/head1.png) repeat-x;
                background: url(../images/top-nav.png) repeat-x;
                border-bottom: 2px solid #FC3019;
            }

                .Cartires h5 span {
                    color: #FC3019;
                }

        .cartire-grid-img {
            float: left;
            width: 20%;
        }

        .cartire-grid-info {
            float: left;
            width: 59%;
            border-right: 1px solid rgba(202, 202, 202, 0.29);
        }

            .cartire-grid-info ul li, .cartire-grid-info h3 {
                display: block;
                padding: 3px 0px;
                font: bold 12px/30px Arial, Helvetica, sans-serif;
                color: #FC3019;
                border-right: 1px solid rgba(151, 151, 151, 0.11);
                text-transform: uppercase;
                font-weight: bold;
            }

            .cartire-grid-info h3 {
                color: #000;
            }

            .cartire-grid-info p {
                font-size: 0.8125em;
                color: #989898;
                line-height: 1.6em;
                font-family: verdana, arial, helvetica, helve, sans-serif;
                width: 91%;
            }

            .cartire-grid-info ul li span {
                color: #000;
                padding-right: 10px;
            }

        .cartire-grid-cartinfo {
            width: 18%;
            float: left;
            padding-left: 2%;
        }

            .cartire-grid-cartinfo h4 {
                display: block;
                padding: 3px 0px;
                font: bold 12px/30px Arial, Helvetica, sans-serif;
                color: #000;
                border-right: 1px solid rgba(151, 151, 151, 0.11);
                text-transform: uppercase;
                font-weight: bold;
            }

            .cartire-grid-cartinfo span {
                font-size: 0.8125em;
                color: #000;
                line-height: 1.6em;
                font-family: verdana, arial, helvetica, helve, sans-serif;
                padding: 7px 0px;
            }

            .cartire-grid-cartinfo ul li {
                display: inline-block;
            }

            .cartire-grid-cartinfo a {
                padding: 8px 10px;
                display: inline-block;
                background: url(../images/head1.png)repeat-x;
                border: none;
                font: bold 12px "Arial"!important;
                color: #fff;
                text-align: center;
                cursor: pointer;
                -moz-transition: background 0.5s ease;
                -o-transition: background 0.5s ease;
                -webkit-transition: background 0.5s ease;
                margin-bottom: 10px;
            }

                .cartire-grid-cartinfo a:hover {
                    background: url(../images/head1h.png)repeat-x;
                    text-decoration: none !important;
                    -moz-transition: background 0.2s ease;
                    -o-transition: background 0.2s ease;
                    -webkit-transition: background 0.2s ease;
                }

            .cartire-grid-cartinfo ul {
                margin: 7px 0px;
            }

                .cartire-grid-cartinfo ul li p {
                    font-size: 0.8125em;
                    color: #989898;
                    line-height: 1.6em;
                    font-family: verdana, arial, helvetica, helve, sans-serif;
                }












        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: ".";
            clear: both;
            height: 0;
            line-height:;
        }

        .clearfix {
            display: inline-block;
        }

        * html .clearfix {
            height: 1%;
        }

        .bubble-list .bubble img {
            float: left;
            width: 70px;
            height: 70px;
            border: 3px solid #ffffff;
            border-radius: 10px;
        }

        .bubble-content {
            position: relative;
            float: left;
            margin-left: 12px;
            width: 400px;
            padding: 0px 20px;
            border-radius: 10px;
            background-color: #FFFFFF;
            box-shadow: 1px 1px 5px rgba(0,0,0,.2);
        }

        .bubble {
            margin-top: 20px;
        }

        .point {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 12px solid #FFF;
            position: absolute;
            left: -10px;
            top: 12px;
        }
    </style>

</head>
<body>
    <div class="wrapper-box">
        <div class="main-wrapper">









            <!--Header Part Start-->
            <header id="header">
                <div class="htop">
                    <div id="language">
                        <span>Language<b></b></span>
                        <ul>
                            <li><a title="English">
                                <img src="/Images/flags/gb.png" alt="English" />English</a></li>
                            <li><a title="Türkçe">
                                <img src="/Images/flags/tr.png" alt="Türkçe" />Türkçe</a></li>
                        </ul>
                    </div>
                    <div id="currency">
                        <span>Currency<b></b></span>
                        <ul>
                            <li><a title="Euro">€ - Euro</a> </li>
                            <li><a title="Pound Sterling">£ - Pound Sterling</a> </li>
                            <li><a title="US Dollar"><b>$ - US Dollar</b></a> </li>
                        </ul>
                    </div>

                    <div class="links">

                    @if (Request.IsAuthenticated)
                    {
                        <text>
                        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
                        </text>
                    }
                    else
                    {
                        
                        <ul style="display:inline">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }

                        <a href="#" id="wishlist-totalPrice">Wish List (0)</a> 
                        
                        <a href="checkout.html">Checkout</a>

                    </div>
                </div>
                <section class="hsecond">
                    <div id="logo">
                        <a href="index-2.html">
                            <img src="/Images/logo.png" title="Polishop" alt="Polishop" /></a>
                    </div>
                    <div id="search">
                        <div class="button-search"></div>
                        <input type="text" name="search" placeholder="Search" value="" />
                    </div>
                    <!--Mini Shopping Cart Start-->
                    <section id="cart">
                        <div class="heading">
                            <h4>
                                <img width="32" height="32" alt="" src="/Images/cart-bg.png"></h4>
                            <a href="@Url.Action("Detail", "Basket", new { })">
                                <span id="cart-total">
                                    @if (Model.BasketSummary.NumberOfItems == 0)
                                    {
                                        <b>Cart empty</b>
                                    }
                                    else
                                    {
                                        <b>@Model.BasketSummary.NumberOfItems items - $@Model.BasketSummary.BasketTotal</b>
       
                                    }
                                </span>
                            </a>
                        </div>
                        <div class="content">
                            <div class="mini-cart-info">
                                <table>
                                    <tr>
                                        <td class="image"><a href="product.html">
                                            <img src="/Images/product/lotto-sports-shoes-white-47x47.jpg" alt="Lotto Sports Shoes" title="Lotto Sports Shoes" /></a></td>
                                        <td class="name"><a href="product.html">Lotto Sports Shoes</a></td>
                                        <td class="quantity">x&nbsp;1</td>
                                        <td class="total">$589.50</td>
                                        <td class="remove">
                                            <img src="/Images/remove-small.png" alt="Remove" title="Remove" /></td>
                                    </tr>
                                    <tr>
                                        <td class="image"><a href="product.html">
                                            <img src="/Images/product/iphone_1-47x47.jpg" alt="iPhone 4s" title="iPhone 4s" /></a></td>
                                        <td class="name"><a href="product.html">iPhone 4s</a></td>
                                        <td class="quantity">x&nbsp;1</td>
                                        <td class="total">$120.68</td>
                                        <td class="remove">
                                            <img src="/Images/remove-small.png" alt="Remove" title="Remove" /></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="mini-cart-total">
                                <table>
                                    <tr>
                                        <td class="right"><b>Sub-Total:</b></td>
                                        <td class="right">$601.00</td>
                                    </tr>
                                    <tr>
                                        <td class="right"><b>Eco Tax (-2.00):</b></td>
                                        <td class="right">$4.00</td>
                                    </tr>
                                    <tr>
                                        <td class="right"><b>VAT (17.5%):</b></td>
                                        <td class="right">$105.18</td>
                                    </tr>
                                    <tr>
                                        <td class="right"><b>Total:</b></td>
                                        <td class="right">$710.18</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="checkout"><a class="button" href="cart.html">View Cart</a> &nbsp; <a class="button" href="checkout.html">Checkout</a></div>
                        </div>
                    </section>
                    <!--Mini Shopping Cart End-->
                    <div class="clear"></div>
                </section>
                <!--Top Menu(Horizontal Categories) Start-->
                <nav id="menu">
                    <ul>
                        <li class="home"><a title="Home" href="index-2.html"><span>Home</span></a></li>
                        <li class="categories_hor"><a>Categories</a>
                            <div>
                                @foreach (SuperCategoryView scv in Model.SuperCategories)
                                {
                                    <div class="column">
                                        <a href="category.html">@scv.Name</a>
                                        <div>
                                            <ul>
                                                @foreach (CategoryView cv in scv.CategoryViews)
                                                {
                                                    <li><a href="category.html">@cv.Name</a></li>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                }


                            </div>
                        </li>
                        <li><a target="_blank" href="#">Headers</a>
                            <div>
                                <ul>
                                    <li><a href="index-2.html">Header Style 1</a></li>
                                    <li><a href="header-footer-2.html">Header Style 2</a></li>
                                    <li><a href="header-footer-3.html">Header Style 3</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a target="_blank" href="#">Menus</a>
                            <div>
                                <ul>
                                    <li><a href="index-2.html">Horizontal Categories</a></li>
                                    <li><a href="header-footer-2.html">Vertical Categories</a></li>
                                    <li><a href="header-footer-3.html">Simple Categories</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a target="_blank" href="#">Sliders</a>
                            <div>
                                <ul>
                                    <li><a href="index-2.html">Nivo Slider</a></li>
                                    <li><a href="header-footer-2.html">Flex Slider</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a target="_blank" href="#">Footers</a>
                            <div>
                                <ul>
                                    <li><a href="index-2.html">Footer Style 1</a></li>
                                    <li><a href="header-footer-2.html">Footer Style 2</a></li>
                                    <li><a href="header-footer-3.html">Footer Style 3</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Custom Block</a>
                            <div class="custom_block">
                                <ul>
                                    <li>
                                        <table border="0" cellpadding="0" cellspacing="0" style="width: 500px;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h3>You can insert any content here.</h3>
                                                        <p>&nbsp;</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>
                                                        <img alt="responsive" src="/Images/product/responsive.jpg" style="width: 250px; height: 150px; border-width: 0px; border-style: solid; float: left; margin-left: 10px; margin-right: 10px;" />Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a>My Account</a>
                            <div>
                                <ul>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#" id="wishlist-total">Wish List (0)</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a>Information</a>
                            <div>
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="about-us.html">Delivery Information</a></li>
                                    <li><a href="about-us.html">Privacy Policy</a></li>
                                    <li><a href="elements.html">Elements</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                </nav>
                <!--Top Menu(Horizontal Categories) End-->
                <!-- Mobile Menu Start-->

                <!-- Mobile Menu End-->
            </header>



            <!--Header Part End-->











            <div id="container">
                @RenderBody()
                <div class="clear"></div>
            </div>
        </div>
        <!--Footer Part Start-->
        <footer id="footer">
            <div class="fpart-inner">
                <div class="social-part">
                    <!-- Custom Column Part Start-->
                    <div class="custom_column part3">
                        <h3>Custom Column</h3>
                        <p>
                            You can insert any content here.<br>
                            <br>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
                            <br>
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.
                        </p>
                    </div>
                    <!-- Custom Column Part End-->
                    <!-- Twitter Feeds Part Start-->
                    <div id="twitter_footer" class="part3">
                        <h3>Twitter Feed</h3>
                        <ul id="twitter_update_list" class="twitt_icon">
                            <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
                            <script type="text/javascript" src="https://api.twitter.com/1/statuses/user_timeline.json?screen_name=harnishdesign &amp;callback=twitterCallback2&amp;count=3"></script>
                        </ul>
                    </div>
                    <!-- Twitter Feeds Part End-->
                    <!-- Facebook Box Part Start-->
                    <div id="facebook" class="part3">
                        <h3>Join us on Facebook</h3>
                        <div class="line"></div>
                        <div id="fb-root"></div>
                        <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-like-box" data-href="http://www.facebook.com/160281810726316" data-width="322" data-show-faces="true" data-stream="false" data-header="false" data-colorscheme="dark" data-connections="16" data-color-scheme="dark" data-border-color="#222222"></div>
                    </div>
                    <!-- Facebook Box Part End-->
                </div>
                <div class="column">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="about-us.html">Delivery Information</a></li>
                        <li><a href="about-us.html">Privacy Policy</a></li>
                        <li><a href="elements.html">Elements</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Customer Service</h3>
                    <ul>
                        <li><a href="contact-us.html">Contact Us</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="sitemap.html">Site Map</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Extras</h3>
                    <ul>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Specials</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>My Account</h3>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </div>
                <!-- Contact Details Start-->
                <div class="contact contact_icon">
                    <h3>Contact Us</h3>
                    <ul>
                        <li class="address">Central Square, 22 Hoi Wing Road, Tuen Mun, New Delhi, India</li>
                        <li class="mobile">+91 9896989598</li>
                        <li class="fax">+91 9896989598</li>
                        <li class="email"><a href="mailto:info@contact.com">info@contact.com</a></li>
                    </ul>
                </div>
                <!-- Contact Details End-->
                <div class="clear"></div>
                <div id="powered">
                    <!-- Payment Images Icon Start-->
                    <div class="payments_types part3">
                        <img src="/Images/payment_paypal.png" alt="paypal" title="PayPal">
                        <img src="/Images/payment_american.png" alt="american-express" title="American Express">
                        <img src="/Images/payment_2checkout.png" alt="2checkout" title="2checkout">
                        <img src="/Images/payment_maestro.png" alt="maestro" title="Maestro">
                        <img src="/Images/payment_discover.png" alt="discover" title="Discover">
                    </div>
                    <!-- Payment Images Icon End-->
                    <!-- Powered by Text Start-->
                    <div class="powered_text part3">
                        <p>
                            Polishop Html Template © 2013<br />
                            Template By <a target="_blank" href="http://harnishdesign.net/">Harnish Design</a>
                        </p>
                    </div>
                    <!-- Powered by Text End-->
                    <!-- Follow Social Icons Start-->
                    <div class="social part3">
                        <a href="http://facebook.com/harnishdesign" target="_blank">
                            <img src="/Images/facebook.png" alt="Facebook" title="Facebook"></a> <a href="https://twitter.com/#!/harnishdesign" target="_blank">
                                <img src="/Images/twitter.png" alt="Twitter" title="Twitter">
                            </a><a href="#" target="_blank">
                                <img src="/Images/googleplus.png" alt="Google+" title="Google+">
                            </a><a href="#" target="_blank">
                                <img src="/Images/pinterest.png" alt="Pinterest" title="Pinterest">
                            </a><a href="#" target="_blank">
                                <img src="/Images/rss.png" alt="RSS" title="RSS">
                            </a><a href="http://www.vimeo.com/#" target="_blank">
                                <img src="/Images/vimeo.png" alt="Vimeo" title="Vimeo">
                            </a>
                    </div>
                    <!-- Follow Social Icons End-->
                    <div class="clear"></div>
                </div>
                <!-- Back to Top Button Start-->
                <div class="back-to-top" id="back-top"><a title="Back to Top" href="javascript:void(0)" class="backtotop">Top</a></div>
                <!-- Back to Top Button End-->
            </div>
        </footer>
        <!--Footer Part End-->
    </div>
</body>
</html>
