﻿<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Musicstore Website Template | Favorites :: W3layouts</title>
    <link href="~/Content/~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/~/Scripts/js/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/~/Scripts/js/jquery-ui.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/knockout-2.2.0.js"></script>
    
    <link rel="stylesheet" href="~/Content/~/Content/css/jquery-ui.css">
    <script type="text/javascript">

        $(document).ready(function () {
            var availableTags = [
              "THE DARK KNIGHT",
              "THE SOLOIST",
              "WAR",
              "TITANIC",
              "PULP FICTION",
              "G.I JOE 3D",
              "COMMANDO ESPECIAL",
              "NINE",
              "MATRIX",
              "IRON MAN 2"
            ];

            $("#tags").autocomplete({
                source: availableTags
            });
        });
    </script>




    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style01.css" rel="stylesheet" type="text/css" media="all" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/style_slider.css" />
    <script src="~/Scripts/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/js/jquery-ui.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/easydropdown.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/visStyles.css" />
    <script src="~/Scripts/js/jquery.easydropdown.js" type="text/javascript"></script>
    <script src="~/Scripts/js/scripts.js" type="text/javascript"></script>
    

    <style type="text/css">
        .table-items .dropdown {
            margin-bottom: 0px;
        }

        .dropdown li {
            font-size: inherit;
        }

            .dropdown li.focus {
                background-color: #fc3019;
            }

        .dropdown {
            width: inherit;
            margin-bottom: 20px;
        }

            .dropdown .selected, .dropdown li {
                padding: 5px 35px 5px 5px;
                font-size: inherit;
            }
    </style>

</head>
<body>
    <!---start-wrap--->
    <div class="wrap">
        <!---start-header--->
        <div class="header">
            <!---start-top-header--->
            <div class="top-header">
                <div class="top-header-left">
                    <ul>
                        <li class="active"><a href="#">Trang Chủ</a></li>
                        <li><a href="#">Thông Tin</a></li>
                        <li><a href="#">Dịch Vụ</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                    </ul>
                </div>
                <div class="top-header-right">
                    <ul>
                        <li><a href="#">NGÔN NGỮ:</a></li>
                        <li>
                            <select>
                                <option>Tiếng Việt</option>
                                <option>English</option>

                            </select>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="sub-header">
                <div class="logo">
                    <a href="index.html">
                        <img src="~/Images/logo.png" title="logo" /></a>
                </div>
                <div class="sub-header-center">
                    <form>
                        <input type="text" id="tags"><input type="submit" value="Tìm kiếm" />
                    </form>
                </div>
                <div class="sub-header-right">
                    <ul>
                        <li><a href="#">ĐĂNG NHẬP</a></li>
                        <li><a href="#">Tài khoản của bạn</a></li>
                        <li><a href="#">ĐẶT VÉ
                            <img src="~/Images/cart.png" title="cart" /></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="top-nav">
                <ul>
                    <li><a href="index.html">TRANG CHỦ</a></li>
                    <li class="active1"><a href="favorites.html">PHIM</a></li>
                    <li><a href="#">Phim bom tấn</a></li>
                    <li><a href="#">Khuyến mãi</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="contact.html">Phản hồi</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <!---end-top-header--->
            <!---End-header--->
        </div>
        <br />
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h3>THÔNG TIN</h3>
                    <ul>
                        <li><a href="#">Về Chúng Tôi</a></li>
                        <li><a href="#">Bản Đồ Trang </a></li>
                        <li><a href="#">Liên Hệ</a></li>
                        <li><a href="#">Các Quy Định</a></li>
                        <li><a href="#">Lưu Ý</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h3>VĂN PHÒNG CỦA CHÚNG TÔI</h3>
                    <ul>
                        <li><a href="#">Các Phim Mới</a></li>
                        <li><a href="#">Phim Hay</a></li>
                        <li><a href="#">Khuyến Mãi</a></li>
                        <li><a href="#">Các Dịch Vụ Khác</a></li>
                        <li><a href="#">Các Ghi Chú</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h3>TÀI KHOẢN CỦA BẠN</h3>
                    <ul>
                        <li><a href="#">Thông Tin Cá Nhân</a></li>
                        <li><a href="#">Chỉnh Sửa</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                        <li><a href="#">Địa Chỉ</a></li>
                        <li><a href="#">Thông Tin Khác</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
                    <h3>Kết nối qua </h3>
                    <ul>
                        <li><a href="#">
                            <img src="~/Images/facebook.png" title="facebook" /></a></li>
                        <li><a href="#">
                            <img src="~/Images/twitter.png" title="Twiiter" /></a></li>
                        <li><a href="#">
                            <img src="~/Images/rss.png" title="Rss" /></a></li>
                        <li><a href="#">
                            <img src="~/Images/gpluse.png" title="Google+" /></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>

