﻿<div class="products-box">
    <div class="products">
        <h5><span>PHIM </span>ĐANG CHIẾU</h5>
        <div class="section group" data-bind="foreach: filteredDangChieu(true)">

            @{
                var url = Url.Action("Detail", "Home")+"/";
            }

            <div class="grid_1_of_5 images_1_of_5">
                <img src="~/Images/p5.jpg">
                <h3 data-bind="text: TenPhim"></h3>
                <p></p>
                <h4></h4>
                <div class="button">
                    <span>
                        <a data-bind="attr: { href: '@url' +Id}">
                            Đặt Vé
                        </a>
                        
                    </span>

                </div>
                
            </div>
        </div>
    </div>
    <div class="products products-secondbox">
        <h5><span>PHIM</span> SẮP CHIẾU</h5>
        <div class="section group" data-bind="foreach: filteredDangChieu(false)">

            <div class="grid_1_of_5 images_1_of_5">
                <img src="~/Images/p10.jpg">
                <h3 data-bind="text: TenPhim"></h3>
                <p></p>
                <h4></h4>
                <div class="button">
                    <span>
                        <a data-bind="attr: { href: '@url' +Id}">
                            Đặt Vé
                        </a>
                        
                    </span>

                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">

        

        var vm = {
            phims: ko.observableArray(),
            count: ko.observable()
        };

        // return first hit (unique ID)
        vm.filteredDangChieu = function (DangChieu) {
            return ko.utils.arrayFilter(this.phims(), function (phim) {
                return (phim.DangChieu === DangChieu);
            });
        };

        ko.applyBindings(vm);

        $(document).ready(function () {


            $.ajax({

                url: "/api/PhimApi/GetPhimsForIndexPage",
                type: "get",
                contentType: "application/json"

            }).done(function (data) {
                if (data.length > 0) {

                    for (i = 0; i < data.length; i++) {
                        vm.phims.push(data[i]);
                       
                    }
                }
            });


        });

    </script>

}